<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="">
        <div class="container blog">
            <div class="nav"></div>

            <section class="blog-container">
                <div class="blog-lists">
                    <div class="search">
                        <input
                            type="text"
                            placeholder="Search"
                            id="search-news"
                            class="search-news"
                        />
                        <ul class="list-search no-result">
                            <li>
                                <a href="#">
                                    <h1 class="title-search">halo</h1>
                                    <p>halo bang</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1 class="title-search">halo</h1>
                                    <p>halo bang</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="new-blog">
                        <div class="alert-new">new!!!</div>
                        <a href="">
                            <div class="blog-content">
                                <h3>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam, quae.
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam, quae.
                                </p>
                                <div class="statistic">
                                    <p class="author">author</p>
                                    <p class="date">dd/mm/yyyy</p>
                                    <p class="total-view">View : 12890</p>
                                    <p class="total-comment">Comment : 5248</p>
                                </div>
                            </div>
                            <div class="blog-image">
                                <img
                                    src="./assets/IMAGES/images (2).jpg"
                                    alt=""
                                />
                            </div>
                        </a>
                    </div>
                    <div class="other-blog">
                        <div class="popular-blog">
                            <div class="title-section">
                                <div class="dash"></div>
                                <h1>popular</h1>
                            </div>
                            <div class="board-blog">
                                <a href="">
                                    <div class="number-popular">#1</div>
                                    <div class="card-blog">
                                        <div class="img-blog">
                                            <img
                                                src="./assets/IMAGES/images (3).jpg"
                                                alt=""
                                            />
                                        </div>
                                        <div class="blog-text">
                                            <h3>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </p>
                                            <div class="statistic">
                                                <p class="author">author</p>
                                                <p class="date">dd/mm/yyyy</p>
                                                <p class="total-view">
                                                    View : 12890
                                                </p>
                                                <p class="total-comment">
                                                    Comment : 5248
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="number-popular"></div>
                                    <div class="card-blog">
                                        <div class="img-blog">
                                            <img
                                                src="./assets/IMAGES/images (2).webp"
                                                alt=""
                                            />
                                        </div>
                                        <div class="blog-text">
                                            <h3>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </p>
                                            <div class="statistic">
                                                <p class="author">author</p>
                                                <p class="date">dd/mm/yyyy</p>
                                                <p class="total-view">
                                                    View : 12890
                                                </p>
                                                <p class="total-comment">
                                                    Comment : 5248
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="">
                                    <div class="number-popular">1</div>
                                    <div class="card-blog">
                                        <div class="img-blog">
                                            <img
                                                src="./assets/IMAGES/images (4).jpg"
                                                alt=""
                                            />
                                        </div>
                                        <div class="blog-text">
                                            <h3>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </p>
                                            <div class="statistic">
                                                <p class="author">author</p>
                                                <p class="date">dd/mm/yyyy</p>
                                                <p class="total-view">
                                                    View : 12890
                                                </p>
                                                <p class="total-comment">
                                                    Comment : 5248
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="another-blog">
                            <div class="title-section">
                                <div class="dash"></div>
                                <h1>more</h1>
                            </div>
                            <div class="listing">
                                <a href="">
                                    <div class="card-blog">
                                        <div class="img-blog">
                                            <img
                                                src="./assets/IMAGES/images (12).jpg"
                                                alt=""
                                            />
                                        </div>
                                        <div class="blog-text">
                                            <h3>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </p>
                                            <div class="statistic">
                                                <div class="s-s">
                                                    <p class="author">author</p>
                                                    <p class="date">
                                                        dd/mm/yyyy
                                                    </p>
                                                </div>
                                                <div class="s-s">
                                                    <p class="total-view">
                                                        View : 12890
                                                    </p>
                                                    <p class="total-comment">
                                                        Comment : 5248
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="card-blog">
                                        <div class="img-blog">
                                            <img
                                                src="./assets/IMAGES/images (1).webp"
                                                alt=""
                                            />
                                        </div>
                                        <div class="blog-text">
                                            <h3>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.
                                                Quisquam, quae.
                                            </p>
                                            <div class="statistic">
                                                <div class="s-s">
                                                    <p class="author">author</p>
                                                    <p class="date">
                                                        dd/mm/yyyy
                                                    </p>
                                                </div>
                                                <div class="s-s">
                                                    <p class="total-view">
                                                        View : 12890
                                                    </p>
                                                    <p class="total-comment">
                                                        Comment : 5248
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category-list">
                    <div class="side-list">
                        <div class="title-section">
                            <h1>Category</h1>
                        </div>
                        <div class="list-cat">
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                        </div>
                    </div>
                    <div class="side-list">
                        <div class="title-section">
                            <h1>Trending Topic</h1>
                        </div>
                        <div class="list-tagCloud">
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                            <a href="">lorem</a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="footer"></div>
        </div>
    </body>
    <script src="script.js"></script>
</html>
