<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="">
        <div class="container home">
            <div class="nav"></div>

            <section class="banner">
                <div class="slogan">
                    <h1>Temukan, Belajar, dan Berkembang Bersama Teknologi</h1>
                    <a href="" class="to-dsgn"> Coba DSGN </a>
                </div>
                <div class="current-banner"></div>
                <div class="next-banner">
                    <div class="posa-nbanner">
                        <div class="card-nbanner start">
                            <img src="./assets/IMAGES/images (1).jpg" alt="" />
                        </div>
                        <div class="card-nbanner">
                            <img src="./assets/IMAGES/images (4).png" alt="" />
                        </div>
                        <div class="card-nbanner">
                            <img src="./assets/IMAGES/images (10).jpg" alt="" />
                        </div>
                        <div class="card-nbanner">
                            <img src="./assets/IMAGES/images (7).webp" alt="" />
                        </div>
                        <div class="card-nbanner">
                            <img src="./assets/IMAGES/images (10).jpg" alt="" />
                        </div>
                    </div>
                </div>
            </section>

            <section class="preview-gallery">
                <div class="title-section">
                    <h1>gallery</h1>
                </div>
                <div class="sec-gallery">
                    <div class="card-gallery">
                        <div class="board-gallery">
                            <h1 class="title-gallery">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Veritatis, in!
                            </h1>
                            <h1 class="num-gallery">1</h1>
                        </div>
                        <div class="img-gallery">
                            <img src="./assets/IMAGES/images (7).jpg" alt="" />
                        </div>
                    </div>
                    <div class="card-gallery">
                        <div class="board-gallery">
                            <h1 class="title-gallery">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Veritatis, in!
                            </h1>
                            <h1 class="num-gallery">1</h1>
                        </div>
                        <div class="img-gallery">
                            <img src="./assets/IMAGES/images (8).jpg" alt="" />
                        </div>
                    </div>
                    <div class="card-gallery">
                        <div class="board-gallery">
                            <h1 class="title-gallery">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Veritatis, in!
                            </h1>
                            <h1 class="num-gallery">1</h1>
                        </div>
                        <div class="img-gallery">
                            <img src="./assets/IMAGES/images (9).jpg" alt="" />
                        </div>
                    </div>
                    <div class="card-gallery more">
                        <a href="" class="board-gallery">
                            <div>
                                <h1 class="title-gallery">more?</h1>
                            </div>
                        </a>
                        <div class="img-gallery">
                            <img src="./assets/IMAGES/images (15).jpg" alt="" />
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-us">
                <div class="title-section">
                    <h1>about us</h1>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis soluta in harum eaque ducimus facilis minus rem,
                    repudiandae architecto unde. Impedit delectus, id a optio
                    debitis rem cumque reiciendis perferendis quia nobis ex
                    vitae molestiae officiis! Accusantium laborum reiciendis
                    dolorem unde, est odit modi quos non deserunt. Dicta,
                    ratione expedita autem atque a, totam doloribus harum
                    perspiciatis, dignissimos sed illo porro at pariatur
                    laudantium vitae optio corporis amet quis mollitia quasi.
                    Alias aliquam minus enim, nisi eum ipsa molestias esse nobis
                    aut porro excepturi ipsam ex? Officiis, tenetur. Earum eaque
                    tempore voluptates id aut blanditiis facilis? Qui sequi non
                    nostrum.
                </p>
                <div class="social-media">
                    <ul>
                        <li>
                            <a href="">
                                <img
                                    src="./assets/SOCIAL_MEDIA/Colorful/instagram.png"
                                    alt=""
                                />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./assets/SOCIAL_MEDIA/Colorful/fb.png"
                                    alt=""
                                />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./assets/SOCIAL_MEDIA/Colorful/twitter.png"
                                    alt=""
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="services">
                <div class="title-section">
                    <h1>services</h1>
                </div>
                <div class="list-service">
                    <ul>
                        <li>
                            <a href="">
                                <div class="img-service">
                                    <img
                                        src="./assets/IMAGES/images (4).png"
                                        alt=""
                                    />
                                </div>
                                <p class="name-service">design graphic</p>
                                <p class="desk-service">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="img-service">
                                    <img
                                        src="./assets/IMAGES/images (5).png"
                                        alt=""
                                    />
                                </div>
                                <p class="name-service">hosting</p>
                                <p class="desk-service">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="img-service">
                                    <img
                                        src="./assets/IMAGES/images (17).jpg"
                                        alt=""
                                    />
                                </div>
                                <p class="name-service">web design</p>
                                <p class="desk-service">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="testimoni">
                <div class="title-section">
                    <h1>testimoni</h1>
                </div>
                <div class="board-testi">
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum.
                            </p>
                        </div>
                    </div>
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum.
                            </p>
                        </div>
                    </div>
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum. Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Quae,
                                porro?
                            </p>
                        </div>
                    </div>
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum. Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Quae,
                                porro?
                            </p>
                        </div>
                    </div>
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum. Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Quae,
                                porro?
                            </p>
                        </div>
                    </div>
                    <div class="card-testi">
                        <div class="img-testi">pp</div>
                        <div class="desc-testi">
                            <h1 class="name-testi">Anonymous</h1>
                            <p class="desk-testi">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas, eum. Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Quae,
                                porro?
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="news">
                <div class="title-section">
                    <h1>popular news</h1>
                </div>
                <div class="list-news">
                    <ul>
                        <li>
                            <a href="">
                                <div class="img-news">
                                    <img
                                        src="./assets/IMAGES/images (3).jpg"
                                        alt=""
                                    />
                                </div>
                                <p class="name-news">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam, quae.
                                </p>
                                <p class="desk-news">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="img-news">
                                    <img
                                        src="./assets/IMAGES/images (2).webp"
                                        alt=""
                                    />
                                </div>
                                <p class="name-news">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam, quae.
                                </p>
                                <p class="desk-news">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="img-news">
                                    <img
                                        src="./assets/IMAGES/images (4).jpg"
                                        alt=""
                                    />
                                </div>
                                <p class="name-news">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam, quae.
                                </p>
                                <p class="desk-news">
                                    Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Distinctio, beatae.
                                </p>
                            </a>
                        </li>
                    </ul>

                    <div class="more-news">
                        <a href="./blog.html">more news??</a>
                    </div>
                </div>
            </section>

            <section class="portfolio">
                <div class="motion-port">
                    <p>:)</p>
                    <p>;)</p>
                </div>
                <div class="board-portfolio">
                    <div class="text-port">
                        <h1>Helloo ;)<br />I'm Aldo !</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Necessitatibus quae quod ab tempore, incidunt
                            sit provident unde corrupti quo laboriosam eum eius
                            obcaecati adipisci numquam optio nam maxime omnis
                            in?
                        </p>
                        <a href="" class="fisit-port">
                            More About Me? Click Here!!
                        </a>
                    </div>
                    <div class="pict-me">
                        <div class="crop">
                            <img src="./assets/IMAGES/images (3).png" alt="" />
                        </div>
                    </div>
                </div>
            </section>

            <div class="footer"></div>
        </div>
    </body>
    <script src="script.js"></script>
</html>
